.mrmissInputNumber {
    width: 50px;
    height: 28px;

    border-radius: 6px;
    border-color: #000;
    font-size: 12px;
    .ant-input-number-handler-wrap {
        opacity: 1 !important;
        width: 100% !important;
        height: 12px !important;
        bottom: -20px !important;
        top: auto !important;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        border: none !important;
        .ant-input-number-handler {
            height: 12px !important;
            width: 12px !important;
        }
        .ant-input-number-handler-up-inner {
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid black;
            // border-right: 10px solid transparent;
        }
        .ant-input-number-handler-down {
            border: none !important;
        }
        .ant-input-number-handler-down-inner {
            width: 0;
            height: 0;
            border-top: 6px solid transparent !important;
            border-bottom: 6px solid transparent;
            border-right: 6px solid black;

            // border-right: 10px solid transparent;
        }
    }
    .ant-input-number-input-wrap {
        input {
            height: 22px !important;
            line-height: 22px !important;
        }
    }
    .ant-input {
        color: #7b7b7b;
    }
    .ant-input:focus {
        outline: none;
    }
}
