.searchInput {
    width: 50%;
    height: 34px;
    background: #161616;
    border-radius: 17px;
    border: none;
    .ant-input {
        background: #161616;
        color: #7b7b7b;
        border-radius: 17px;
        font-size: 12px !important;
        text-align: center;
        margin-left: -20px;
        background: rgba(0,0,0,0);
    }
}

.searchInputWhite {
    width: 50%;
    height: 34px;
    border-radius: 17px;
    .ant-input {
        color: #7b7b7b;
        border-radius: 15px;
        font-size: 12px !important;
        text-align: center;
        margin-left: -20px;
        background: rgba(0,0,0,0);
    }
}
