html {
    font-size: 16px;
}

.loginWrapper {
    background: #eee;
    height: 300px;
    input {
        width: 100px;
        height: 40px;
        border: 1px solid #000;
        border-radius: 10px;
    }
}
